.formgroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formgroup label {
    font-size: 15px;
}

.formgroup input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: 500;

}

input::placeholder {
    color: #ccc;
}

.formgroup input:focus {
    border-color: #7367F0 !important;
    outline: none;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

.formgroup input ::placeholder {
    font-size: 15px;
}
