:root {

    --bgMain: #F5F5F9;
    --bgWhitePrimary: #FFFFFF;
    --textColor: #566a7f;
    --navColor: #696cff;
    --navHover: #F8F8F9;
    --iconColor: #697A8D;
    --navBorder: #696bfe;
    --primaryColor: #7367F0;
    --textFrontSize: 14px;
}

.container {
    display: grid;
    grid-template-columns: 13% 77%;
    column-gap: 7.2rem;
    min-height: 99vh;
    background-color: var(--bgMain);
    width: 100%;
}

.App {
    display: flex;
    align-items: center;
    justify-content: centercenter;
    height: 100vh;
    background: var(--bgMain);
    color: var(--textColor);
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Golos Text', sans-serif;

}

.AppGlass {
    display: grid;
    height: 100%;
    width: 100%;
    overflow: scroll;
    grid-template-columns: 260px auto;
}

/* ********************************************* */
/* REUSEABLE DESING */
/* ********************************************* */

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.center {
    align-items: center;
    text-align: center;
}

.grid-col-2-space-between {
    display: flex;
    justify-content: space-between;
    font-size: var(--textFrontSize)
}

/* Text Design and Color Start */
.text-deco-color {
    color: var(--primaryColor);
    text-decoration: none;
}

.text-primary {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.text-secondary {
    font-size: var(--textFrontSize);
    color: var(--textColor);
}

.padddingBottom20 {
    padding-bottom: 20px;
}

/********** Text Design and Color End*****/
/******************************************************************** */
/************ GRID : Start **************/

.grid-70-30 {
    grid-template-columns: 70% 30%;
}

.gap10 {
    gap: 10px;
}

.grid-column-2 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

/************ GRID : End **************/
/******************************************************************** */
/*********** FORM : Start *************/
.formContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    color: var(--textColor);
    font-weight: 500;
}

.formContainer {
    width: 80%;
}



.formgroup input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: var(--textFrontSize);
    font-weight: 500;
}

.formgroup input:focus {
    border-color: var(--primaryColor) !important;
    outline: none;
    box-shadow: 0 0 5px rgba(155, 89, 182, 0.5);
}

.formgroup input ::placeholder {
    font-size: var(--textFrontSize);
    font-weight: 500;
}

.heading-primary {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

/*********** FORM : End *************/
/******************************************************************** */
/* Button Design (Signup and Signin) */
.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4375rem 1.25rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    transition: all 0.2s ease-in-out;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.btn-primary {
    color: #fff;
    background-color: #696cff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(105, 108, 255, 0.4);
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #5f61e6 !important;
    transform: translateY(-1px) !important;
}

/* Button With Icons */

.btn.button-with-icon {
    padding: 10px 20px;
    background-color: #696cff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.button-icons-text i {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.btn.profile-btn:hover {
    background-color: #5a59e5;
}


.btn-negative {
    padding: 10px 20px;
    background-color: #FF3E1D;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.btn-negative:hover {
    background-color: #ff654a;
}


.button-group {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto auto;

}


.button-betwen {
    display: flex;
    gap: 10px;
}


/* *********************************** */
/* Login and SignUp Form Design  */
/* ******************************** */
.auth-inner {
    display: grid;
    height: 98vh;
    grid-template-columns: 70% 30%;
}


/* Left Div */
.left-div {
    max-width: 100%;
}

.brand-logo-text {
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: left;
    padding-left: 30px;
}

.brand-logo-text svg {
    color: var(--primaryColor);
}


.brand-text {
    color: #7367F0;
    font-weight: 800;
    font-size: 28px;
    padding-left: 20px;
}


.flex-align-center svg {
    margin-top: 10%;
}

.right-div {
    background-color: var(--bgWhitePrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ececec;
}

/* ******************************************* */
/* ***************  SIDEBAR  **************** */
/* ******************************************* */

.sidebar {
    background-color: var(--bgWhitePrimary);
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    padding-left: 1rem;
    position: relative;
    transition: all 300ms ease;
}

.sidebarlogo {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.logo>img {
    height: 3rem;
    width: 3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
    font-size: 15px;
}

.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    padding-left: 10px;
    border-radius: 5px;
    transition: all 300ms ease;
}

.menu-link {
    text-decoration: none;
    color: var(--textColor);
    font-weight: 500;
}

.menuItem:hover {
    background-color: var(--navHover);
    cursor: pointer;
    padding-left: 20px;
}

.active {
    background-color: rgba(105, 108, 255, .16) !important;
    color: var(--navColor);
    height: 3rem;
    border-radius: 5px;
}

.menu-icon {
    font-size: 20px;
    color: var(--textColor);
}

.menu-last-active {
    background-color: rgba(105, 108, 255, .16) !important;
    color: var(--navColor);
    border-radius: 5px;
    bottom: 2.3rem;
    overflow: hidden;

}

.menu .menu-last:last-child {
    position: absolute;
    bottom: 2.3rem;
    width: 94%;
    overflow: hidden;
}

/* ************************************** */
/* ************* Main Content **************/
/* ************************************** */
.main-container {
    display: grid;
    grid-template-rows: 7% 80% 8%;
    gap: 3%;
    /* row-gap: 10px; */
}

.footer {
    background-color: var(--bgMain);
    text-align: left;
    padding: 10px;
}

/* Profile */

.button-btn {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

/* **************************************** */
/* ************* CARD ********************  */
/* **************************************** */
.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-header {
    font-size: 1.125rem;
    color: var(--textColor);
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
    padding-top: 0;
}

.card-header-secondary {
    /* d-flex align-items-start align-items-sm-center gap-4 */
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding-bottom: 20px;
}

hr {
    border-bottom: 0.5px solid #d6dce6;
    margin-bottom: 20px;
}

.profile-img {
    display: block;
    border-radius: 10px;
}

.button-wrapper {
    display: flex;
    gap: 10px;
}

.text-muted {
    color: #A1ACB8;
}

.btn-reset-cancel {
    color: #8592A3;
    border: 1px solid #8592A3;
    background: transparent;
}

.btn-reset-cancel:hover {
    color: #fff !important;
    background-color: #788393 !important;
    border-color: #788393 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(133, 146, 163, 0.4) !important;
    transform: translateY(-1px) !important;
    transition: 1s ease;
}


/* color: "#8592A3", */
/* border: "#8592A3", */

.breadcrumb {
    display: flex;

    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: #e9eef1;
    border-radius: 8px;

}