# Ignore node_modules folder
client/node_modules/

# Ignore logs folder
client/logs/

# Ignore expo folder
client/expo/

# Ignore .vscode folder in the root
.vscode/

# Ignore node_modules folder for server
server/node_modules/
# Ignore logs folder for server
server/logs/


# Ignore .vscode folder in the root
.vscode/

server/.env

server/server.log