.auth-inner{
    margin-left: 20px;
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 30px;
}

.brand-logo-text{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.brand-logo{
    display: flex;
    color: #7367F0;
    text-decoration: none;
}

.brand-text{
    padding-left: 20px;
    margin-top: 0px;
    color: #7367F0;
    text-decoration: none;
    font-weight: 600;
}
.auth-inner-image-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-image{
    /* height: 100vh; */

}

.loginform{
    background-color: #FFFFFF;
    height: 100%;
    width: 50%;
    height: 100vh;
}