.table-div {
    text-align: center;
    justify-content: center;
    display: flex;
}

.table-design {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;

}

.table-design td,
.table-design th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-design tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-design tr:hover {
    background-color: #ddd;
}

.table-design th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #04AA6D;
    color: white;
}

.filters {
    display: flex;
    padding: 20px 10px;
    font-size: 16px;
    align-items: center;
    width: 80%;
    justify-content: space-between;

}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter span {
    margin-right: 10px;
}

.optionPadding {
    padding: 10px;
}