.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: red;
}



.sidebar{
    background-color: antiquewhite;

}
.main-container{
    background-color: aquamarine;

}

.header{
    background-color: bisque;
}

.main{

}
.footer{

}