.container {
    margin-left: 128px;
    margin-right: 130px;
}

.MainDash {
    display: grid;
    column-gap: 26px;
    grid-template-columns: 2.65fr 1.35fr;

}

/* Heading Cards */
.main-container-left-inside {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 8px;
}

.main-container-left-inside .left .heading {
    color: #696cff !important;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.1;
}

.main-container-left-inside .left .sub-heading {
    margin-bottom: 1.5rem !important;
}

.heading-perchant {
    font-weight: 700;
}

.btn {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 5px;
    border: 1px solid #696cff;
    color: #696cff;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: #696cff;
    color: #FFF;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
}

.main-container-left-inside .cards {
    display: grid;
    column-gap: 26px;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
}

.card {
    background-color: #FFF;
    padding: 1.5rem;
    border-radius: 10px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 15px;
    color: #697A8D;
    font-weight: 500;
}

.card-value {
    font-size: 1.625rem;
    font-weight: 600;
    color: #566A7F
}

.card-per {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #71DD37;
    gap: 5px;
    font-size: 0.797rem;
    font-weight: 600;
}

.avatar {
    position: relative;
    width: 2.385rem;
    height: 2.455rem;
    cursor: pointer;
    border-radius: 0.375rem !important;
    background-color: #EEFBE7;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2px;
}

.avatar-2 {
    position: relative;
    width: 2.385rem;
    height: 2.455rem;
    cursor: pointer;
    border-radius: 0.375rem !important;
    background-color: #E0F7FC;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2px;

}

.avatar-3 {
    position: relative;
    width: 2.385rem;
    height: 2.455rem;
    cursor: pointer;
    border-radius: 0.375rem !important;
    background-color: #FFE7E3;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2px;
}

.avatar-4 {
    position: relative;
    width: 2.385rem;
    height: 2.455rem;
    cursor: pointer;
    border-radius: 0.375rem !important;
    background-color: #EDEDFF;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 2px;
}

.avatar-link {
    cursor: pointer;
}





/* Profile Report */

.profile-report {
    margin-top: 26px;
    border-radius: 10px;
    background-color: #FFF;
    display: grid;
    column-gap: 16px;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;

}

.profile-report .left-profile-report .card-title .title {
    font-size: 16px;
    font-weight: bold;
}


.profile-report .left-profile-report {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}




.profile-report .left-profile-report .card-title {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.profile-report .left-profile-report .card-title .year {}

.profile-report .left-profile-report .card-body .amount {
    font-size: 24px;
    font-weight: bold;
}